<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8">
	<title>SenCovid</title>
	<!-- =================== META =================== -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="">
	<!-- =================== STYLE =================== -->
	<link rel="stylesheet" type="text/css" href="static/css/slick.min.css"/>
	<link rel="stylesheet" href="static/css/bootstrap-grid.css">
	<link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/nice-select.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body style="background-color: silver;" id="home">
	{% block body%}

	<!-- ============== PRELOADER END ============== -->
	<!-- ================= HEADER ================= -->
	<header class="marathon-header-fixed header-fixed">
		<a href="#" class="nav-btn">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<div class="top-panel">
			<div class="container">
				<a href="index.html" class="logo"><p>SenCovid</p></a>
			</div>
		</div>
		<div class="header-nav">
			<div class="container">
				<div class="header-nav-cover">
					<nav class="nav-menu menu">
						<ul class="nav-list">
							<li class="dropdown active-page">
								<a href="/">accueil</a>
							</li>
							<li><a href="#about">Statistiques</a></li>
							<li><a href="formtest">Formulaire de Test</a></li>
							<li><a href="#schedule">Dénoncer un cas suspect</a></li>
							<li><a href="#location">Cartographie des sites</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- =============== HEADER END =============== -->

	<!-- ================ S-CHOOSE-US ================ -->
	<section class="s-choose-us" style="background-image: url(static/img/bg-1.svg);">
		<div class="container">
			<h2 class="title"><span>Consignes sanitaires</span></h2>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3 choose-us-item">
					<img class="rx-lazy" src="static/img/placeholder-all.png" data-src="static/img/2.png" alt="img">
					
					<p>Se laver les mains très régulièrement </p>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3 choose-us-item">
					<img class="rx-lazy" src="static/img/placeholder-all.png" data-src="static/img/1.png" alt="img">
					
					<p>Tousser ou éternuer dans son coude ou dans un mouchoir.</p>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3 choose-us-item">
					<img class="rx-lazy" src="static/img/placeholder-all.png" data-src="static/img/5.png" alt="img">
				
					<p>Utiliser des mouchoirs à usage unique et les jeter</p>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3 choose-us-item">
					<img class="rx-lazy" src="static/img/placeholder-all.png" data-src="static/img/4.png" alt="img">
					<h4></h4>
					<p>Saluer sans se serrer la main, éviter les embrassades</p>
				</div>
			</div>
		</div>
	</section>
	<!-- ============== S-CHOOSE-US END ============== -->

	<!-- ============== S-EVENT-SCHEDULE ============== -->
	<section style="background-color: bisque;" id="register" class="s-buy-ticket">
		<div class="container">
			<h2 class="title-conference"><span>Dénoncer un cas suspect</span></h2>
			<div class="row">
				<div class="col-md-8">
					<div class="buy-ticket-left">
						<h6>Pour déclarer un cas d'infection, veuillez appelez l'un de ces numéros</h6>
						<div class="ticket-contact-cover">
							<div class="ticket-contact-item">
								<ul>
									<li><span>NUMÉRO VERT: <br></span>800 00 50 50</li><br>
									<li><span>SAMU: <br></span><a href="">1515</a></li><br>
									<li><span>CELLULE D'ALERTE: <br></span><a href="">78 172 10 81 / 76 765 97 31 / 70 717 14 92</a></li><br>
									<li><span>LE CHATBOT DOCTEUR COVID19 VOUS INFORME VIA WHATSAPP: <br></span><a href="">76 600 05 26</a></li><br>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============ S-EVENT-SCHEDULE END ============ -->


	<!-- ============= MAP-WITH-ROUTE END ============= -->

	<!-- ============= MAP-WITH-ROUTE END ============= -->
	<!-- ============= MAP-WITH-ROUTE END ============= -->

	<!--==================== FOOTER ====================-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="footer-cont col-12 col-sm-6 col-lg-4">
					<a href="index.html" class="logo"><p>SenCovid</p></a>
					<p></p>
					<div class="footer-copyright"><a target="_blank">SenCovid</a> © 2020. All Rights Reserved.</div>
				</div>
				<div class="footer-item-link col-12 col-sm-6 col-lg-4">
					<div class="footer-link">
					</div>
					<div class="footer-link">
					</div>
				</div>
				<div class="footer-subscribe col-12 col-sm-6 col-lg-4">

				</div>
			</div>
		</div>
	</footer>
	<!--================== FOOTER END ==================-->

	<!--=================== TO TOP ===================-->
	<a class="to-top" href="#home">
		<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	</a>
	<!--================= TO TOP END =================-->

	<!--=================== SCRIPT	===================-->
	<script src="static/js/jquery-2.2.4.min.js"></script>
	<script src="static/js/slick.min.js"></script>
	<script src="static/js/rx-lazy.js"></script>
	<script src="static/js/jquery.nice-select.js"></script>
	<script src="static/js/parallax.min.js"></script>
	<script src="static/js/scripts.js"></script>
	{% endblock body%}
</body>
</html>
